.u-p1 {
  margin: 4px !important;
}

.u-p2 {
  margin: 8px !important;
}

.u-p3 {
  margin: 12px !important;
}

.u-p4 {
  margin: 16px !important;
}

.u-px1 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.u-px2 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.u-px3 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}
.u-px4 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.u-py1 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.u-py2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.u-py3 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.u-py4 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}